
    <nav class="navbar navbar-light bg-light">
      <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="pay.png" width="30" height="30" class="d-inline-block align-top" alt="QP">
        QuikPay
      </a>
        <ul class="nav-navbar nav navbar-right">
          <a href="/users/login" style="margin-right: 2rem;">Login</a>
          <a href="/users/register">Register</a>
        </ul>
      </div>
    </nav>
    <div>
      <div class="row" style="max-height: 100%;">
        <div class="col-lg-6 ">
          <img src="FrontPage.jpg" class="img-thumbnail img-responsive" style="border: 5px solid black;" alt="Cinque Terre">
        </div>
        <div class="col-lg-6">
            <div>
              <h1 class="display-3">
                About
              </h1>
              <p style="font-size: 1.4rem;">
                QuikPay is a payments unification platform designed for the students and faculty of Muthoot Institute of Technology and Sciece. It ensures hassle free transactions and also ensures that the user can keep track of their expenses and manage money properly.
                This application has been embedded with <strong>PayPal</strong> so that the user can easily transfer money from their accounts .
              </p>
            </div>
        </div>
      </div>
    </div>
    <div class=" row justify-content-between " style="height: 60px;">
      <div class="container cols-lg-4" style="height: 20px; padding-top: 15px; padding-left: 5px; margin-top: 4rem;" >
        <h1 class="display-5">Designed for</h1>
        <p style="font-size: x-large; background-color: white;">Muthoot Institute Of Technology & Science</p>
      </div>
    </div>
    

   